<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{user.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-list-header>
      Bebes 
    </ion-list-header>
    <ion-item *ngFor = "let b of bebe ; let i = index">
      <ion-avatar slot="start">
        <img src="../../../assets/icon/PERSONA1.jpg">
      </ion-avatar>
      <ion-label>
        <h2><b>Nombre: </b> {{b.nombre}}</h2>
        <h3><b>Nombre del Padre: </b> {{b.nombrePadre}}</h3>
        <p><b>Edad del Neonato: </b> {{b.edad}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
