<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Bienvenido {{user.name}}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-card>
    <ion-row>
      <ion-col>
        <img src="../../../assets/icon/PERSONA1.jpg" alt="Profile picture" class="profile-picture">
      </ion-col>
    </ion-row>
    <ion-card-header>
      <ion-card-subtitle>{{bebe.nombrePadre}}</ion-card-subtitle>
      <ion-card-title>{{bebe.nombre}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-chip color="danger" *ngIf = "SpO2 > 95 || 90 > SpO2">
        <ion-label><h1><b>SpO2: </b>{{SpO2}}</h1></ion-label>
      </ion-chip>
      <ion-chip color="danger"*ngIf = "FC > 80 || 60 > FC">
        <ion-label><h1><b>FC: </b>{{FC}}</h1></ion-label>
      </ion-chip>
      <ion-chip outline color="success" *ngIf = "SpO2 >= 90 && 95 >= SpO2" >
        <ion-label><h1><b>SpO2: </b>{{SpO2}}</h1></ion-label>
      </ion-chip>
      <ion-chip outline color="success" *ngIf = "FC >= 60 && 80 >= FC">
        <ion-label><h1><b>FC: </b>{{FC}}</h1></ion-label>
      </ion-chip>
    </ion-card-content>
  </ion-card>
</ion-content>
<div>
  <ion-tab-bar >
    <ion-tab-button routerLink="/cambio-contrasena">
      <ion-icon name="key-outline"></ion-icon>
      <ion-label>Cambio de contraseña</ion-label>
    </ion-tab-button>
    <ion-tab-button (click)="Onlogout()">
      <ion-icon name="log-out-outline"></ion-icon>
      <ion-label>Salir</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</div>
