<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-title>
      Incio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button class="ion-margin-top" type="submit" (click)="prueba()" expand= "block"> 
    Continuar 1
  </ion-button>
  <center>
    <h1><i>Bienvenido</i></h1>
    <ion-label>
      <h2> <b>{{user.name}}</b> </h2>
      <p>{{user.tipoUsuario}}</p>
    </ion-label>
    <ion-avatar slot= "start" >
        <ion-img src = "assets/icon/icon.png"></ion-img>
    </ion-avatar>
  </center>
  <div *ngIf = "user.tipoUsuario == 'Administrador'">
    <ion-button class="ion-margin-top" type="submit" routerLink="/principal"expand= "block"> 
      Continuar
    </ion-button>
  </div>
  <div *ngIf = "user.tipoUsuario == 'Personal de la salud'">
    <ion-button class="ion-margin-top" type="submit" routerLink="/personal-salud"expand= "block"> 
      Continuar
    </ion-button>
  </div>
  <div *ngIf = "user.tipoUsuario == 'Acudiente del neonato'">
    <ion-button class="ion-margin-top" type="submit" routerLink="/padre"expand= "block"> 
      Continuar
    </ion-button>
  </div>
</ion-content>
<div>
  <ion-tab-bar slot="bottom">
    <ion-tab-button routerLink="/cambio-contrasena">
      <ion-icon name="key-outline"></ion-icon>
      <ion-label>Cambio de contraseña</ion-label>
    </ion-tab-button>
    <ion-tab-button (click)="Onlogout()">
      <ion-icon name="log-out-outline"></ion-icon>
      <ion-label>Salir</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</div>